<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <div class="grid">
            <div class="cell">1</div>
            <div class="cell">2</div>
            <div class="cell">3</div>
            <div class="span_cell">

                <textarea class="input_breadcrumb"></textarea>
                <textarea class="input_text"></textarea>
            </div>
            <div class="cell">
                

            </div>
            <div class="cell">6</div>
            <div class="cell">7</div>
            <div class="cell">8</div>
        </div>
    </div>
</body>

</html>
